* {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

#loginScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginButton {
    height: 25px;
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.loginInput {
    height: 20px;
    width: 300px;
    margin: 4px;
    border-bottom: 1px solid black;
}

#mushroomLogin {
    width: 250px;
    height: 250px;
    
}