#Categories {
font-weight: bold;
background-color: ghostwhite;
border: none;
}

#addNewFindButton {
    font-size: 125%;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 100px;
    border: none;
    cursor: pointer;
    background-color:goldenrod;
    text-shadow: 2ox 2ox 2ox black;
    
}

#dateFound {
    font-weight: bold;
}

#foundSpecies {
    font-weight: bold;
}

#finds {
    font-weight: bold;
}
.registration-message {
    position: fixed;
    top: 50px;
    left: 40.4%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    width: auto;
    font-size: 20px;
}