*{
    background-color: rgb(183, 183, 183);
}

.loginButton{
    height: 25px;
    width: 150px;
    margin: 5px;
    border-radius: 20px;
}

.loginInput{
    height: 20px;
    width: 300px;
    margin: 4px;
}