* {
    position: relative;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -10;

}

#app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mainContainer {
    height: 97vh;
    width: 99vw;
    background-image: url("../Images/Harvest-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: initial;
    z-index: -1;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative;
}

li {
    pointer-events: none;
}

li>img {
    pointer-events: auto;
}

#Profile {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 20px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    background-color: green;
    border: 1px solid greenyellow;
    
        
}


#Berries {
    position: absolute;
    right: 37%;
    top: 60%;
    margin-top: 150px;
    margin-left: 30px;
    border-radius: 25%;
    height: 50px;
    width: 170px;
    background-color: lightcoral;
    color: purple;
    font-weight: bold;
    font-family: Serif;
    font-size: large;
    cursor: pointer;
    border: 2px solid black;
    background-image: none;
    z-index: 2;
}

#Mushrooms {
    position: absolute;
    right: 47%;
    top: 60%;
    margin-top: 150px;
    margin-left: 10px;
    border-radius: 25%;
    height: 50px;
    width: 170px;
    background-color: darkred;
    color: rgb(7, 221, 7);
    font-weight: bold;
    font-family: Serif;
    font-size: large;
    cursor: pointer;
    border: 2px solid black;
    background-image: none;
    z-index: 2;
}


#Fish {
    position: absolute;
    right: 57%;
    top: 60%;
    margin-top: 150px;
    margin-left: 10px;
    border-radius: 25%;
    height: 50px;
    width: 170px;
    background-color: teal;
    color: orange;
    font-weight: bold;
    font-family: Serif;
    font-size: large;
    cursor: pointer;
    border: 2px solid black;
    background-image: none;
    z-index: 2;
}

#RegisterNewFind {
    position: absolute;
    right: 46%;
    top: 70%;
    margin-top: 125px;
    border-radius: 25%;
    height: 50px;
    width: 190px;
    background-color: darkslategray;
    color: yellow;
    font-weight: bold;
    font-family: Serif;
    font-size: large;
    cursor: pointer;
    border: 2px solid black;
    background-image: none;
    z-index: 2;
}


.iicon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#returnButton {
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    position: fixed;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

#returnButton:hover {
    border: 2px solid black;
    background-color: rgb(26, 174, 174);
}

.fishypic {
    height: 25px;
    width: 40px;
    background-color: teal;
    background-image: none;
}

.search-box {
    width: 600px;
    background: #e9f3ff;
    border-radius: 5px;
    margin: 100px auto 0;
}

.row {
    display: grid;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    background-color: #e9f3ff;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;

}

#Search {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    ;
}

.mushyPic {
    height: 25px;
    background-color: darkred;
    margin-top: 2px;
    background-image: none;
}

.berryPic {
    height: 25px;
    background-color: lightcoral;
    margin-top: 2px;
    background-image: none;
}

button .fa-solid {
    background: transparent;
    border: 0;
    outline: 0;
    width: 25px;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.result-box ul {
    border-top: 3px solid lavender;
    padding: 15px 10px;
    background-color: darkslategray;
}

.result-box ul li {
    background-color: darkslategray;
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: #e9f3ff;
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}

.registerPlus {
    height: 25px;
    background-color: darkslategray;
    background-image: none;
}

.mainPageBtn {
    height: 25px;
    width: 200px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 4px;
    border: 1px solid black;
}
#logOut {
    margin-top: -74px;
    margin-right: auto;
    margin-left: 90vw;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    background-color: red;
    border: 2px solid orangered;
    position: relative;
    z-index: 4;
    box-shadow: 1px 1px orangered;
}