
#smileyface {
    width: 50px;
    height: 50px;
}

#friendsContainer{
    height: 300px;
    width: 500px;
    margin: 2px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: color(from body cadetblue);
}

#earnedBadges{
    height: 150px;
    width: 500px;
    margin: 2px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: color(from body cadetblue);
}

#nextBadge{
    height: 200px;
    width: 500px;
    margin: 2px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: color(from body cadetblue);
}

#registrationsDone{
    height: 150px;
    width: 500px;
    margin: 2px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: color(from body cadetblue);
}

#Profiltitle{
    background-color: color(from body cadetblue);
}

#profileBoxContainer {
    margin-top: 50px;
    margin-left: 50px;
}

.friendProfilePic{
    width: 100px;
    height: 100px;
    border-radius: 0%;
    object-fit: contain;
    background-color: color(from body cadetblue);
}

.friend{
    cursor: pointer;
    background-color: color(from body cadetblue);
}

#userProfiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: color(from body cadetblue);
    text-align: center;
}

#shownFriends{
    margin: 2px;
}

