#Categories {
font-weight: bold;
background-color: ghostwhite;
border: none;
}

#addNewFindButton {
    font-size: 125%;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 100px;
    border: none;
    cursor: pointer;
    background-color:goldenrod;
    text-shadow: 2ox 2ox 2ox black;
    
}

#dateFound {
    font-weight: bold;
}

#foundSpecies {
    font-weight: bold;
}

#finds {
    font-weight: bold;
}
