#loginScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginButton {
    height: 25px;
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 4px;
    border: 1px solid black;
}

.loginInput {
    height: 25px;
    width: 300px;
    margin: 4px;
    border-bottom: 1px solid black;
}

#mushroomLogin {
    width: 250px;
    height: 250px;
}

.newUserButton {
    height: 25px;
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 4px;
    border: 1px solid black;
}


.errorLoggin {
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
}